Notes.txt
Analyses/Tbx5_analysis_I/Figures/analysis_scheme.png
Analyses/Tbx5_analysis_I/Figures/motifs_in_samples.png
Analyses/Tbx5_analysis_I/Figures/peak_counts_by_chr.png
Analyses/Tbx5_analysis_I/Figures/peak_overlaps.png
Analyses/Tbx5_analysis_I/Figures/tbx5_motif.png
Analyses/Tbx5_analysis_I/Figures/tf_hit_percentage.png
Analyses/Tbx5_analysis_I/Figures/total_peak_counts.png
Analyses/Tbx5_analysis_I/Inputs/BED/PEAKS035687_Tbx5_P70326_MACS2_437.bed
Analyses/Tbx5_analysis_I/Inputs/BED/PEAKS054901_Tbx5_P70326_MACS2_12.bed
Analyses/Tbx5_analysis_I/Inputs/BED/PEAKS054905_Tbx5_P70326_MACS2_12.bed
Analyses/Tbx5_analysis_I/Inputs/BED/PEAKS054908_Tbx5_P70326_MACS2_12.bed
Analyses/Tbx5_analysis_I/Inputs/BED/PEAKS054910_Tbx5_P70326_MACS2_3053.bed
Analyses/Tbx5_analysis_I/Inputs/BED/PEAKS054914_Tbx5_P70326_MACS2_12.bed
Analyses/Tbx5_analysis_I/Inputs/BED/PEAKS057470_Tbx5_P70326_MACS2_4426.bed
Analyses/Tbx5_analysis_I/Inputs/BigBed/PEAKS035687_Tbx5_P70326_MACS2_437.bb
Analyses/Tbx5_analysis_I/Inputs/BigBed/PEAKS054901_Tbx5_P70326_MACS2_12.bb
Analyses/Tbx5_analysis_I/Inputs/BigBed/PEAKS054905_Tbx5_P70326_MACS2_12.bb
Analyses/Tbx5_analysis_I/Inputs/BigBed/PEAKS054908_Tbx5_P70326_MACS2_12.bb
Analyses/Tbx5_analysis_I/Inputs/BigBed/PEAKS054910_Tbx5_P70326_MACS2_3053.bb
Analyses/Tbx5_analysis_I/Inputs/BigBed/PEAKS054914_Tbx5_P70326_MACS2_12.bb
Analyses/Tbx5_analysis_I/Inputs/BigBed/PEAKS057470_Tbx5_P70326_MACS2_4426.bb
Analyses/Tbx5_analysis_I/Intermediate_data_files/identified_motifs.csv
Analyses/Tbx5_analysis_I/Intermediate_data_files/peaks_by_chr_nnorm.csv
Analyses/Tbx5_analysis_I/Intermediate_data_files/peaks_by_chr_norm.csv
Analyses/Tbx5_analysis_I/Intermediate_data_files/sample_key.csv
Analyses/Tbx5_analysis_I/Intermediate_data_files/tbx5_motif_data.csv
Analyses/Tbx5_analysis_I/Intermediate_data_files/TBX5_MOUSE.H11MO.0.D.pwm
Analyses/Tbx5_analysis_I/Programs/peaks_MM.Rmd
Analyses/Tbx5_analysis_I/Programs/samples.Rmd
Analyses/Tbx5_analysis_I/Programs/Scripts/BED_to_fasta
Analyses/Tbx5_analysis_I/Programs/Scripts/bigBed_to_BED
Analyses/Tbx5_analysis_I/Programs/Scripts/findMotifs
Analyses/Tbx5_analysis_I/Programs/Scripts/get_motif_names
Analyses/Tbx5_analysis_I/Programs/Scripts/modify_headers.pl
Analyses/Tbx5_analysis_II/Figures/Blocks_Chr2_9.png
Analyses/Tbx5_analysis_II/Figures/Chr2_9_synteny.png
Analyses/Tbx5_analysis_II/Figures/Methods_tools.png
Analyses/Tbx5_analysis_II/Figures/PWM_matches_all.png
Analyses/Tbx5_analysis_II/Figures/Sp9_gene_alignment.png
Analyses/Tbx5_analysis_II/Figures/SynCircos.png
Analyses/Tbx5_analysis_II/Figures/Synteny_block_definition.png
Analyses/Tbx5_analysis_II/Figures/Synteny_blocks_peaks.png
Analyses/Tbx5_analysis_II/Figures/Synteny_Chr_DR.png
Analyses/Tbx5_analysis_II/Figures/Synteny_Chr_MM.png
Analyses/Tbx5_analysis_II/Figures/Synteny_dotplot_example.png
Analyses/Tbx5_analysis_II/Figures/TTS_data_structure.png
Analyses/Tbx5_analysis_II/Figures/Unique_genes_DR.png
Analyses/Tbx5_analysis_II/Figures/Unique_genes_MM.png
Analyses/Tbx5_analysis_II/Intermediate_data_files/Belong_to_block.txt
Analyses/Tbx5_analysis_II/Intermediate_data_files/dplc.txt
Analyses/Tbx5_analysis_II/Intermediate_data_files/dr_genes.txt
Analyses/Tbx5_analysis_II/Intermediate_data_files/Dr_Hits.txt
Analyses/Tbx5_analysis_II/Intermediate_data_files/grl_synteny.txt
Analyses/Tbx5_analysis_II/Intermediate_data_files/sample_key.csv
Analyses/Tbx5_analysis_II/Intermediate_data_files/synteny_blocks.csv
Analyses/Tbx5_analysis_II/Intermediate_data_files/TBX5_MOUSE.H11MO.0.D.pwm
Analyses/Tbx5_analysis_II/Programs/codes_for_notes.rmd
Analyses/Tbx5_analysis_II/Programs/perform_analysis.Rmd
Analyses/Tbx5_analysis_II/Programs/samples.Rmd
Analyses/Tbx5_analysis_II/Programs/synteny_blocks_v1.0.Rmd
Analyses/Tbx5_analysis_II/Programs/synteny_blocks_v1.1.Rmd
Analyses/Tbx5_analysis_II/Programs/synteny_blocks_v1.2.Rmd
Analyses/Tbx5_analysis_II/Programs/synteny_blocks.R
Analyses/Tbx5_analysis_II/Programs/report/out_html/peaks_MM.html
Analyses/Tbx5_analysis_II/Programs/report/out_html/synteny_blocks.html
Analyses/Tbx5_analysis_II/Programs/Scikick/scikick.yml
Analyses/Tbx5_analysis_II/Programs/Scikick/tbx5_analysis_II.Rmd
Analyses/Tbx5_analysis_II/Programs/Scikick/report/out_html/index.html
Analyses/Tbx5_analysis_II/Programs/Scikick/report/out_html/samples.html
Analyses/Tbx5_analysis_II/Programs/Scikick/report/out_html/tbx5_analysis_I.html
Analyses/Tbx5_analysis_II/Programs/Scikick/report/out_html/tbx5_analysis_II.html
Figures/MM_gene_counts.png
Input/Genome_DB/human_genome.00/GCF_000001405.39_top_level.00.naa
Input/Genome_DB/human_genome.00/GCF_000001405.39_top_level.00.nab
Input/Genome_DB/human_genome.00/GCF_000001405.39_top_level.00.nac
Input/Genome_DB/human_genome.00/GCF_000001405.39_top_level.00.nhr
Input/Genome_DB/human_genome.00/GCF_000001405.39_top_level.00.nin
Input/Genome_DB/human_genome.00/GCF_000001405.39_top_level.00.nnd
Input/Genome_DB/human_genome.00/GCF_000001405.39_top_level.00.nni
Input/Genome_DB/human_genome.00/GCF_000001405.39_top_level.00.nog
Input/Genome_DB/human_genome.00/GCF_000001405.39_top_level.00.nsq
Input/Genome_DB/human_genome.00/GCF_000001405.39_top_level.nal
Input/Genome_DB/human_genome.00/GCF_000001405.39_top_level.ndb
Input/Genome_DB/human_genome.00/GCF_000001405.39_top_level.nos
Input/Genome_DB/human_genome.00/GCF_000001405.39_top_level.not
Input/Genome_DB/human_genome.00/GCF_000001405.39_top_level.ntf
Input/Genome_DB/human_genome.00/GCF_000001405.39_top_level.nto
Input/Genome_DB/human_genome.00/taxdb.btd
Input/Genome_DB/human_genome.00/taxdb.bti
Input/Homo_sapiens/PEAKS034687_GATA3_P23771_MACS2_886.bb
Input/Homo_sapiens/PEAKS034688_GATA3_P23771_MACS2_907.bb
Input/Mus_musculus/PEAKS035364_Gata3_P23772_MACS2_76.bb
Input/Mus_musculus/PEAKS035446_Gata3_P23772_MACS2_499.bb
